services:
  wallabag:
    image: wallabag/wallabag:${WALLABAG_VERSION}
    container_name: wallabag
    env_file:
      - .env
    ports:
      - 8085:80 # Maps internal port 80 to external 8085. Change as needed.
    volumes:
      - /opt/docker/privileged/wallabag/data:/var/www/wallabag/web/assets/images # Stores images
      - /opt/docker/privileged/wallabag/db:/var/www/wallabag/data # Stores the SQLite database
    restart: unless-stopped
    labels:
      glance.name: Wallabag
      glance.icon: sh:wallabag
      glance.url: https://{{ services.wallabag.subdomain | default('wallabag') }}.{{ domain }}
      glance.hide: false
