WALLABAG_VERSION={{ services.wallabag.version }}

MYSQL_ROOT_PASSWORD={{ WALLABAG_MYSQL_ROOT_PASSWORD }}
SYMFONY__ENV__DATABASE_DRIVER={{ WALLABAG_SYMFONY__ENV__DATABASE_DRIVER }}
SYMFONY__ENV__DOMAIN_NAME={{ WALLABAG_SYMFONY__ENV__DOMAIN_NAME }}
SYMFONY__ENV__SERVER_NAME={{ WALLABAG_SYMFONY__ENV__SERVER_NAME }}
SYMFONY__ENV__FOSUSER_REGISTRATION={{ WALLABAG_SYMFONY__ENV__FOSUSER_REGISTRATION }}
