# --- User Permissions ---
PUID={{ PUID }}
PGID={{ PGID }}

# --- Authentik Config ---
AUTHENTIK_SECRET_KEY={{ AUTHENTIK_SECRET_KEY }}
PG_PASS={{ AUTHENTIK_PG_PASS }}
AUTHENTIK_ERROR_REPORTING__ENABLED={{ AUTHENTIK_ERROR_REPORTING__ENABLED }}

# --- Database Config ---
PG_DB=authentik
PG_USER=authentik
