SLSKD_VERSION={{ slskd_version }}
NAVIDROME_VERSION={{ navidrome_version }}

TZ={{ TZ }}

SLSKD_FILE_PERMISSION_MODE={{ SLSKD_FILE_PERMISSION_MODE }}
SLSKD_USERNAME={{ SLSKD_USERNAME }}
SLSKD_PASSWORD={{ SLSKD_PASSWORD }}
SLSKD_SLSK_USERNAME={{ SLSKD_SLSK_USERNAME }}
SLSKD_SLSK_PASSWORD={{ SLSKD_SLSK_PASSWORD }}
SLSKD_SHARED_DIR={{ SLSKD_SHARED_DIR }}
SLSKD_API_KEY={{ SLSKD_API_KEY }}



ND_LASTFM_APIKEY={{ ND_LASTFM_APIKEY }}
ND_LASTFM_SECRET={{ ND_LASTFM_SECRET }}
