services:
  seerr:
    image: ghcr.io/seerr-team/seerr:{{ services.seerr.version }}
    init: true
    container_name: seerr
    env_file: .env
    ports:
      - 5055:5055
    volumes:
      - /opt/docker/standard/arr/seerr:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/settings/public || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped
    labels:
      glance.name: Seerr
      glance.icon: sh:seerr
      glance.url: https://{{ services.seerr.subdomain | default('seerr') }}.{{ domain }}
      glance.hide: false
networks:
  default:
    external: true
    name: media_network
