services:
  bazarr:
    image: lscr.io/linuxserver/bazarr:{{ services.bazarr.version }}
    container_name: bazarr
    env_file: .env
    volumes:
      - /opt/docker/standard/arr/bazarr:/config
      - /media:/media
    ports:
      - 6767:6767
    restart: unless-stopped
    labels:
      glance.name: Bazarr
      glance.icon: sh:bazarr
      glance.url: https://{{ services.bazarr.subdomain | default('bazarr') }}.{{ domain }}
      glance.hide: false
networks:
  default:
    external: true
    name: media_network
