OPENCLAW_VERSION={{ services.openclaw.version }}
OPENCLAW_BROWSER_VERSION={{ services.openclaw_browser.version }}

PUID={{ PUID }}
PGID={{ PGID }}
TZ={{ TZ }}

OPENCLAW_PRIMARY_MODEL={{ OPENCLAW_PRIMARY_MODEL }}

ANTHROPIC_API_KEY={{ OPENCLAW_ANTHROPIC_API_KEY }}
MISTRAL_API_KEY={{ OPENCLAW_MISTRAL_API_KEY }}
GEMINI_API_KEY={{ OPENCLAW_GEMINI_API_KEY }}
DEEPSEEK_API_KEY={{ OPENCLAW_DEEPSEEK_API_KEY }}

OPENCLAW_GATEWAY_TOKEN={{ OPENCLAW_GATEWAY_TOKEN }}
TELEGRAM_BOT_TOKEN={{ OPENCLAW_TELEGRAM_BOT_TOKEN }}

AUTH_USERNAME={{ OPENCLAW_AUTH_USERNAME }}
AUTH_PASSWORD={{ OPENCLAW_AUTH_PASSWORD }}
TELEGRAM_DM_POLICY={{ OPENCLAW_TELEGRAM_DM_POLICY }}
TELEGRAM_ALLOW_FROM={{ OPENCLAW_TELEGRAM_ALLOW_FROM }}

CHROME_CLI={{ OPENCLAW_BROWSER_CHROME_CLI }}
