# Romm stuff
DB_HOST={{ ROMM_DB_HOST }}
DB_NAME={{ ROMM_DB_NAME }}
DB_USER={{ ROMM_DB_USER }}
DB_PASSWD={{ ROMM_DB_PASSWD }}
ROMM_AUTH_SECRET_KEY={{ ROMM_AUTH_SECRET_KEY }}
SCREENSCRAPER_USER={{ ROMM_SCREENSCRAPER_USER }}
SCREENSCRAPER_PASSWORD={{ ROMM_SCREENSCRAPER_PASSWORD }}
STEAMGRIDDB_API_KEY={{ ROMM_STEAMGRIDDB_API_KEY }}
HASHEOUS_API_ENABLED={{ ROMM_HASHEOUS_API_ENABLED }}
IGDB_CLIENT_ID={{ ROMM_IGDB_CLIENT_ID }}
IGDB_CLIENT_SECRET={{ ROMM_IGDB_CLIENT_SECRET }}

# DB Stuff
MARIADB_ROOT_PASSWORD={{ ROMM_MARIADB_ROOT_PASSWORD }}
MARIADB_DATABASE={{ ROMM_MARIADB_DATABASE }}
MARIADB_USER={{ ROMM_MARIADB_USER }}
MARIADB_PASSWORD={{ ROMM_MARIADB_PASSWORD }}
