DIUN_VERSION={{ services.diun.version }}

TZ={{ TZ }}


DIUN_WATCH_WORKERS={{ DIUN_WATCH_WORKERS }}
DIUN_WATCH_SCHEDULE={{ DIUN_WATCH_SCHEDULE}}
DIUN_WATCH_JITTER={{ DIUN_WATCH_JITTER }}
DIUN_PROVIDERS_DOCKER={{ DIUN_PROVIDERS_DOCKER }}
DIUN_WATCH_FIRSTCHECKNOTIF={{ DIUN_WATCH_FIRSTCHECKNOTIF }}
DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT={{ DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT }}
DIUN_NOTIF_DISCORD_WEBHOOKURL={{ DIUN_NOTIF_DISCORD_WEBHOOKURL }}
DIUN_NOTIF_DISCORD_MENTIONS={{ DIUN_NOTIF_DISCORD_MENTIONS }}

