version: "3.9"

services:
  syncyomi:
    container_name: syncyomi
    image: ghcr.io/syncyomi/syncyomi:${SYNCYOMI_VERSION}
    restart: unless-stopped
    env_file: .env
    volumes:
      - /opt/docker/privileged/syncyomi/config:/config
    ports:
      - 8283:8282
