services:
  couchdb-livesync:
    image: ghcr.io/thewolf2068/obsidian-livesync-couchdb:${OBSIDIAN_LIVESYNC_VERSION}
    container_name: couchdb-livesync
    user: ${PUID}:${PGID}
    env_file: .env
    volumes:
      - /opt/docker/standard/obsidian:/opt/couchdb/data
    ports:
      - 5984:5984
    restart: unless-stopped
