PUID={{ PUID }}
PGID={{ PGID }}

OBSIDIAN_LIVESYNC_VERSION={{ services.obsidian_livesync.version }}

COUCHDB_USER={{ OBSIDIAN_COUCHDB_USER }}
COUCHDB_PASSWORD={{ OBSIDIAN_COUCHDB_PASSWORD }}

OLS_HOSTNAME={{ OBSIDIAN_OLS_HOSTNAME }}
OLS_DATABASE={{ OBSIDIAN_OLS_DATABASE }}
OLS_PASSPHRASE={{ OBSIDIAN_OLS_PASSPHRASE }}
