disableIndexing: true

title: My Homelab Dashboard

startUrl: https://{{ domain }}
base: https://{{ domain }}
target: _blank

hideVersion: true
disableUpdateCheck: true

showStats: true
statusStyle: "dot"



quicklaunch:
  searchDescriptions: true
  hideInternetSearch false:
  showSearchSuggestions: true
  hideVisitURL: true
  provider: duckduckgo # google, duckduckgo, bing, baidu, brave or custom


background:
  image: images/{{ homepage_background }}
  blur: sm 
  saturate: 50
  brightness: 50
  opacity: 75 # 0-100


theme: dark
color: sky

headerStyle: clean


layout:
  Media:
    style: row
    header: false
    columns: 3
  Downloaders:
    style: row
    header: false
    columns: 2
  Consumption:
    style: row
    columns: 3
    header: false

  Misc1:
    style: column
    header: false
    columns: 2
  Misc2:
    style: column
    header: false
    columns: 3
