TANDOOR_VERSION={{ tandoor_version }}
TANDOOR_DB_VERSION={{ tandoor_db_version }}


SECRET_KEY={{ TANDOOR_SECRET_KEY }}
TZ={{ TZ }}
DB_ENGINE={{ TANDOOR_DB_ENGINE }}
POSTGRES_HOST={{ TANDOOR_POSTGRES_HOST }}
POSTGRES_DB={{ TANDOOR_POSTGRES_DB }}
POSTGRES_PORT={{ TANDOOR_POSTGRES_PORT }}
POSTGRES_USER={{ TANDOOR_POSTGRES_USER }}
POSTGRES_PASSWORD={{ TANDOOR_POSTGRES_PASSWORD }}
