# Root domain
{{ domain }} {
    reverse_proxy localhost:9999   # fallback to Homepage
}


{% for service, config in services.items() %}
{% if config.exposed %}
{% set sub = config.subdomain | default(service) %}
{{ sub }}.{{ domain }} {
    reverse_proxy localhost:{{ config.port }}
}
{% endif %}
{% endfor %}
