# Versions
CALIBRE_VERSION={{ calibre_version }}

# Universal
PUID={{ PUID }}
PGID={{ PGID }}
TZ={{ TZ }}

# Calibre
PASSWORD={{ CALIBRE_PASSWORD }}

# Kosync
ADMIN_PASSWORD={{ KOSYNC_ADMIN_PASSWORD }}
REGISTRATION_DISABLED={{ KOSYNC_REGISTRATION_DISABLED }}
