# Booklore 
APP_USER_ID={{ PUID }}
APP_GROUP_ID={{ PGID }}
TZ={{ TZ }}
BOOKLORE_PORT={{ BOOKLORE_PORT }}
DATABASE_URL={{ BOOKLORE_DATABASE_URL }}
DB_USER={{ BOOKLORE_DB_USER }}
DB_PASSWORD={{ BOOKLORE_DB_PASSWORD }}

# Booklore Mariadb  
DB_USER_ID={{ PUID }}
DB_GROUP_ID={{ PGID }}
MYSQL_ROOT_PASSWORD={{ BOOKLORE_MYSQL_ROOT_PASSWORD }}
MYSQL_DATABASE={{ BOOKLORE_MYSQL_DATABASE }}

# Ephemera
AA_BASE_URL={{ EPHEMERA_AA_BASE_URL }}
LG_BASE_URL={{ EPHEMERA_LG_BASE_URL }}
FLARESOLVERR_URL={{ EPHEMERA_FLARESOLVERR_URL }}
PUID={{ PUID }}
PGID={{ PGID }}
ALLOWED_ORIGINS={{EPHEMERA_ALLOWED_ORIGINS}}
