MEALIE_VERSION={{ services.mealie.version }}

PUID={{ PUID }}
PGID={{ PGID }}
TZ={{ TZ }}


BASE_URL={{ services.mealie.subdomain | default ('mealie') }}.{{ domain }}
ALLOW_SIGNUP={{ MEALIE_ALLOW_SIGNUP }}
