services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:${AUDIOBOOKSHELF_VERSION}
    env_file: .env
    restart: unless-stopped
    ports:
      - 13378:80
    volumes:
      - /media/audiobooks:/audiobooks
      - /media/podcasts:/podcasts
      - /opt/docker/standard/audiobookshelf/config:/config
      - /opt/docker/standard/audiobookshelf/metadata:/metadata
    sysctls:
      net.ipv6.conf.all.disable_ipv6: 1
    labels:
      glance.name: Audiobookshelf
      glance.icon: sh:audiobookshelf
      glance.url: https://{{ services.audiobookshelf.subdomain | default('audiobookshelf') }}.{{ domain }}
      glance.hide: false

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:${QBITTORRENT_VERSION}
    container_name: qbittorrent
    env_file: .env
    volumes:
      - /opt/docker/standard/qbittorrent/appdata:/config
      - /opt/docker/standard/qbittorrent/downloads:/downloads #optional
      - /media/audiobooks:/audiobooks
    ports:
      - 8050:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
    labels:
      glance.name: qBittorrent
      glance.icon: sh:qbittorrent
      glance.url: https://{{ services.qbittorrent.subdomain | default('qbittorrent') }}.{{ domain }}
      glance.hide: false
