services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:{{ services.audiobookshelf.version }}
    env_file: .env
    restart: unless-stopped
    ports:
      - 13378:80
    volumes:
      - /media/audiobooks:/audiobooks
      - /media/podcasts:/podcasts
      - /opt/docker/standard/audiobookshelf/config:/config
      - /opt/docker/standard/audiobookshelf/metadata:/metadata
    sysctls:
      net.ipv6.conf.all.disable_ipv6: 1
    labels:
      glance.name: Audiobookshelf
      glance.icon: sh:audiobookshelf
      glance.url: https://{{ services.audiobookshelf.subdomain | default('audiobookshelf') }}.{{ domain }}
      glance.hide: false
