# Universal
PUID={{ PUID }}
PGID={{ PGID }}
TZ={{ TZ }}

# Audiobookbay
DL_SCHEME={{ AUDIOBOOKBAY_DL_SCHEME }}
DL_HOST={{ AUDIOBOOKBAY_DL_HOST }}
DL_PORT={{ AUDIOBOOKBAY_DL_PORT }}
DL_USERNAME={{ AUDIOBOOKBAY_DL_USERNAME }}
DL_PASSWORD={{ AUDIOBOOKBAY_DL_PASSWORD }}
DL_CATEGORY={{ AUDIOBOOKBAY_DL_CATEGORY }}
SAVE_PATH_BASE={{ AUDIOBOOKBAY_SAVE_PATH_BASE }}
PAGE_LIMIT={{ AUDIOBOOKBAY_PAGE_LIMIT }}
FLASK_PORT={{ AUDIOBOOKBAY_FLASK_PORT }}
DOWNLOAD_CLIENT={{ AUDIOBOOKBAY_DOWNLOAD_CLIENT }}
NAV_LINK_NAME={{ AUDIOBOOKBAY_NAV_LINK_NAME }}
NAV_LINK_URL={{ AUDIOBOOKBAY_NAV_LINK_URL }}

# qBittorrent
WEBUI_PORT={{ QBITTORRENT_WEBUI_PORT }}
TORRENTING_PORT={{ QBITTORRENT_TORRENTING_PORT }}
