AUDIOBOOKSHELF_VERSION={{ services.audiobookshelf.version }}
QBITTORRENT_VERSION={{ services.qbittorrent.version }}


# Universal
PUID={{ PUID }}
PGID={{ PGID }}
TZ={{ TZ }}
# qBittorrent
WEBUI_PORT={{ QBITTORRENT_WEBUI_PORT }}
TORRENTING_PORT={{ QBITTORRENT_TORRENTING_PORT }}
