AUDIOBOOKSHELF_VERSION={{ audiobookshelf_version }}
QBITTORRENT_VERSION={{ qbittorrent_version }}


# Universal
PUID={{ PUID }}
PGID={{ PGID }}
TZ={{ TZ }}
# qBittorrent
WEBUI_PORT={{ QBITTORRENT_WEBUI_PORT }}
TORRENTING_PORT={{ QBITTORRENT_TORRENTING_PORT }}
